:root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #D4145A, #FBB03B);
}

.container {
    min-height: 50rem;
    margin-top: 7rem;
    width: 75rem;
}

.HeadPart {
    min-height: 5rem;
    display: flex;
    margin-bottom: 2rem;
}

.container1 button {
    width: 10rem;
    height: 5rem;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
}

.container2 {
    display: flex;
    flex-direction: column;
    min-height: 5rem;
    justify-content: space-around;
    margin-left: 5rem;
    color: white;
    font-weight: 700;
}

.cards {
    background: linear-gradient(to left, #D4145A, #FBB03B);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 2.5rem;
}

.card {
    height: 10rem;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: rotateY(180deg) 
}

.card.revealed {
    background: white;
    transform: rotateY(0deg); 
}
.card.revealed::after {
    background: white;
    transform: rotateY(180deg) rotateZ(45deg); 
}


